# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# Frontend (Node)
# =========================
cashbox_front/node_modules/
cashbox_front/dist/
cashbox_front/.vite/

# =========================
# IDE / OS files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Docker artifacts
# =========================
*.tar
